<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="rtw-dashboard-view">
    <template>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
        </script>
        <style>
            :host {
                display: block;
            }
        </style>
        <div class="container">
            <h4 class="h4">Bienvenido! [[item.CustomerName]]</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">[[item.TicketId]]</th>
                        <td>[[item.TicketBranch]]</td>
                        <td>[[item.TicketTime]]</td>
                        <td><button type="button" class="btn btn-info">Editar</button> <button type="button" class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <iron-ajax
        auto
        id="getCustomer" 
        crossDomain: true 
        dataType:'jsonp' 
        method="POST" 
        handle-as="json" 
        headers="Access-Control-Allow-Headers: *"
        on-response="_manageAJAXResponse" 
        on-error="_onRequestError">

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class DashboardView extends Polymer.Element {
            static get is() {
                return 'rtw-dashboard-view';
            }

            _getCustomer() {
                this.$.getCustomer.url = "http://localhost:3000/customers/v0/customer/" + sessionStorage.getItem('_uid')
                this.$.getCustomer.generateRequest()
            }
            _getTickets() {
                
            }

            _manageAJAXResponse(data) {
                console.log(data);

            }

        }

        window.customElements.define(DashboardView.is, DashboardView);
    </script>
</dom-module>