<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="rtw-profile-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <form action="#" class="container">
      <div class="form-group">
        <label for="name-input">Nombre</label>
        <input class="form-control" type="text" name="name-input" id="name-input" value="{{name::input}}" required>
      </div>
      <div class="form-group">
        <label for="lastName-input">Apellido Paterno</label>
        <input class="form-control" type="text" name="lastName-input" id="lastName-input" value="{{lastName::input}}" required>
      </div>
      <div class="form-group">
        <label for="secondLastName-input">Apellido Materno</label>
        <input class="form-control" type="text" name="secondLastName-input" id="secondLastName-input" value="{{secondLastName::input}}" required>
      </div>
      <div class="form-group">
        <label for="email-input">Correo Electrónico</label>
        <input class="form-control" type="email" name="email-input" id="email-input" value="{{email::input}}" required>
      </div>
      <div class="form-group">
        <label for="password-input">Contraseña</label>
        <input class="form-control" type="password" name="password-input" id="password-input" value="{{password::input}}" required>
      </div>
        <button on-click="_update" type="button" name="submit" class="btn btn-primary">Actualizar</button>
        <button on-click="_delete" type="button" name="submit" class="btn btn-danger">Eliminar Cuenta</button>
      </div>
    </form>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProfileView extends Polymer.Element {
      static get is() { return 'rtw-profile-view'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          lastName: {
            type: String
          },
          secondLastName: {
            type: String
          },
          email: {
            type: String
          },
          password: {
            type: String
          }
        }
      }
      _update() {
        let xhr = new XMLHttpRequest()
        let url = "http://localhost:3000/customers/v0/customer/" + sessionStorage.getItem('_uid')
        let body = { "name": this.name, "lastName": this.lastName, "secondLastName": this.secondLastName, "gender": "not_specified", "email": this.email, "password": this.password }
        let body2 = JSON.stringify(body)
        xhr.open('PATCH', url, false)
        //xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("auth_token", sessionStorage.getItem('_auth'))
        xhr.send(body2)

        if (xhr.status === 200 && xhr.readyState === 4) {
          console.log("All fine")
        } else {
          console.log("error");
        } 
      }
      _delete() {
        let xhr = new XMLHttpRequest()
        let url = "http://localhost:3000/customers/v0/customer/delete/" + sessionStorage.getItem('_uid')
        xhr.open('DELETE', url, false)
        xhr.setRequestHeader("auth_token", sessionStorage.getItem('_auth'))
        xhr.send()
        sessionStorage.removeItem('_uid')
        sessionStorage.removeItem('_auth')
      } 
      _manageAJAXResponse(data) {
        console.log("Respuesta Recibida");
        console.log(data.detail.response);
      }

      _onRequestError() {
        console.log("Error");
      }
    }

    window.customElements.define(ProfileView.is, ProfileView);
  </script>
</dom-module>
