<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="rtw-login-view">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container text-center">
      <h4 class="h4">Bienvenido a <strong>BBVA Tickets</strong></h4>
    </div>

    <form action="#" method="post" class="container">
      <div class="form-group">
        <label for="email-input">Correo Electrónico</label>
        <input class="form-control" type="email" name="email-input" id="email-input" value="{{email::input}}" required>
      </div>
      <div class="form-group">
        <label for="password-input">Contraseña</label>
        <input class="form-control" type="password" name="password-input" id="password-input"
          value="{{password::input}}" required>
      </div>
      <div class="form-group">
        <button on-click="_login" type="button" name="submit" class="btn btn-primary">Iniciar Sesión</button>
      </div>
      <p class="text-base">¿Aún no tienes una cuenta?</p>
      <a href="#" class="btn btn-primary">Registrarse</a>
    </form>

    <iron-ajax id="doLogin" url="http://localhost:3000/customers/v0/customer/login" content-type="application/json"
      crossDomain: true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *"
      on-response="_manageAJAXResponse" on-error="_onRequestError">
    </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginView extends Polymer.Element {
      static get is() {
        return 'rtw-login-view';
      }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          }
        }
      }
      _login() {
        let body = {
          "email": this.email,
          "password": this.password
        }
        this.$.doLogin.body = body
        this.$.doLogin.generateRequest()
      }
      _manageAJAXResponse(data) {
        let authToken = data.detail.response
        _setSessionData(authToken.message.authToken, authToken.message.uId)
      }

      _onRequestError() {
        console.log("Error");
      }
    }

    function _setSessionData(authToken, uId) {
      sessionStorage["_uid"] = uId
      sessionStorage["_auth"] = authToken
    }

    window.customElements.define(LoginView.is, LoginView);
  </script>
</dom-module>